

input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    color: blue;
    font-style: monospace;
    border: solid black 3px;
    border-radius: 10px;
}

.longer {
    width: 90px;
}